 .firstslide #image {
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
 }
 
 h1 {
     font-family: 'Proza Libre', sans-serif;
 }
 
 p {
     font-family: 'Cormorant Garamond', serif;
 }